.btnStyle{
    border-color: #ffcb2d !important;
    color: #56cab8
    !important;
    
    
padding: 6px 12px;
margin-bottom: 0px;
margin-top: 10px;
font-size: 14px;
font-weight: bold;
line-height: 1.42857143;
text-align: center !important;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 20px;
transition: all .3s ease-in-out !important;
width: 50%;
padding-bottom: 10px;

}
.btnStyle:hover{
    border-radius: 4px;
    
    
    /* outline: medium none !important;  */
    
    /* background-color: #fff;
    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
        
    color: #222;
    cursor: pointer;
    */
    
}