.modal{
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 70%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: none;
    padding:16px ;
    left: 15%;
    text-align: center;
    top:20%;
    box-sizing:border-box ;
    transition: all 0.3s ease-out;
}

@media (min-width: 800px) {
    .modal {
    width: 400px;
    left: calc(50% - 200px);
    }
    }
.backDrop{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(22, 21, 21, 0.459);
}
.signDiv{
    display: flex;
margin-bottom: 20px;
align-items: center;
text-align: center;
}

.signForm{
   margin-left: auto;
   margin-right: auto;
}